@import "materialize/components/_color.scss";
@import "materialize/components/_variables.scss";

header nav {
  ul {
    display: inline-block;
    a {
      font-size: 1.5em;
    }
  }
  .nav-wrapper {
    text-align: center;
  }
}

ul.collapsible.popout .collapsible-body div.row {
  padding: 2rem;
}

body {
  header, .section {
    background-color: $primary-color;
  }
  background-color: $primary-color;
}

.image-list {
  div {
    display: inline-block;
    margin-right: 10px;
  }

  text-align: center;
}

.collapsible .collapsible-body .slider {
  padding: 0 20px;
  margin-bottom: 20px;
}

p {
  color: $text-color;
  font-size: 1.2em;
}

h1 {
  color: color("yellow", "base");
}

h4 {
  color: color("yellow", "lighten-2");
}

h5 {
  color: color("shades", "white");
}

