@import "materialize/components/_color.scss";
@import "materialize/components/_variables.scss";

header nav {
  ul {
    display: inline-block;
    a {
      font-size: 1.5em;
    }
  }
  .nav-wrapper {
    text-align: center;
  }
}

ul.collapsible.popout .collapsible-body div.row {
  padding: 2rem;
}

body {
  header, .section {
    background-color: $primary-color;
  }
  background-color: $primary-color;
}

.image-list {
  div {
    display: inline-block;
    margin-right: 10px;
  }

  text-align: center;
}

.collapsible .collapsible-body .slider {
  padding: 0 20px;
  margin-bottom: 20px;
}

.collapsible .collapsible-header {
  background-color: white;
  color: $primary-color;
  font-size: 1.2em;
}

p {
  color: $text-color;
  font-size: 1.2em;
}

h1, h3, h4, h5 {
  color: color("shades", "white");
}

.table-of-contents li a {
  color: white;
  text-decoration: none;
}

.classrooms .section img {
  margin: 0 20px 0 0;
}

#inquiries {
  height: 200px;
  padding-top: 50px;
}

.phone-number {
  padding-left: 10px;
}

.card .card-content p {
  margin-bottom: 18px;
}

a:visited {
  color: color("green", "accent-1");
  text-decoration: underline;
}

header nav.top-nav {
  a {
    color: color("shades", "white");
    text-decoration: none;
  }
}

a {
  color: color("green", "accent-2");
  text-decoration: underline;
}

ul.faqs li.collection-item .answer {
  padding-top: 10px;
}
