@import "materialize/components/_color.scss";
@import "materialize/components/_variables.scss";

header nav {
  ul {
    display: inline-block;
    a {
      font-size: 1.5em;
    }
  }
  .nav-wrapper {
    text-align: center;
  }
}

ul.collapsible.popout .collapsible-body div.row {
  padding: 2rem;
}

body {
  header, .section {
    background-color: $primary-color;
  }
  background-color: $primary-color;
}

#mobile-side-nav {
  background-color: $primary-color;
}

.image-list {
  div {
    display: inline-block;
    margin-right: 10px;
  }

  text-align: center;
}

.collapsible .collapsible-body .slider {
  padding: 0 20px;
  margin-bottom: 20px;
}

.collapsible .collapsible-header {
  background-color: white;
  color: $primary-color;
  font-size: 1.2em;
}

p {
  color: $text-color;
  font-size: 1.2em;
}

h1, h3, h4, h5 {
  color: color("shades", "white");
}

.table-of-contents li a {
  color: white;
  text-decoration: none;
}

.classrooms .section img {
  margin: 0 20px 0 0;
}

#inquiries {
  height: 200px;
  padding-top: 50px;
}

.phone-number {
  padding-left: 10px;
}

.card .card-content p {
  margin-bottom: 18px;
}

a:visited {
  color: color("green", "accent-1");
  text-decoration: underline;
}

header nav.top-nav {
  a {
    color: color("shades", "white");
    text-decoration: none;
  }
}

a {
  color: color("green", "accent-2");
  text-decoration: underline;
}

ul.faqs li.collection-item .answer {
  padding-top: 10px;
}

.street-view-header {
  width: 600px;
  text-align: center;
}

.logo {
  padding-top: 20px;
}

.cal-videos {
  width: 100%;
}

.margin-right {
  margin-right: 20px;
}

#scroll-down {
  display: none;
  position: fixed;
  bottom: 40px;
  left: 50%;
  z-index: 2;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  padding-top: 70px;
  color: indianred;
}

#scroll-down span.arrow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  border: 3px indianred;
  border-bottom-style: solid;
  border-left-style: solid;
}

.container.testimonials .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  margin-left: 10px;
  text-transform: none;
  font-size: 1.2em;

}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.space-margin-right {
  margin-right: 6px;
}

.space-margin-left {
  margin-left: 6px;
}

.teachers .card-image img {
  width: 300px;
}

#like-container {
  margin-top: 50px;
}
