extends layout

block content
    div.row
        div.col.l12
            ul.tabs
                li.tab.col.l3
                    a(href="#locations") Locations
                li.tab.col.l3
                    a(href="#philosophy") Philosophy
                li.tab.col.l3
                    a(href="#model") Educational Model
                li.tab.col.l3
                    a(href="#curriculum") Curriculum
        div#locations.col.l12.
            Information about locations
        div#philosophy.col.l12.
            Information about PHILOSOPHY
        div#model.col.l12.
            Information about MODEL
        div#curriculum.col.l12.
            Information about CURRICULUM
