div.row
    div.col.s12.m12
        div.card
            div.card-content
                span.card-title.center
                    p.
                        Why is Care-A-Lot a great place to bring your child?
                    p.
                        (Click below for more information and pictures)
                ul.collapsible.popout.white-text(data-collapsible="accordion")
                    li
                        div.collapsible-header Certified, experienced, responsible teachers
                        div.collapsible-body
                            p Because of our low staff turn-over,&nbsp; children will feel comfortable when they see the same faces each day.&nbsp; On average our teachers have about 8 years of teaching experience.
                            div.image-list
                                span
                                    +expandableImage("images/expandable-images/school_fireman.jpg")
                                    +expandableImage("images/expandable-images/Big_TeacherBirthdayCake.JPG")
                                    +expandableImage("images/expandable-images/Big_Teacher3.jpg")
                                    +expandableImage("images/expandable-images/Big_CalTeachers2.JPG")
                    li
                        div.collapsible-header Fully enclosed private playlot for children
                        div.collapsible-body
                            p Research shows that play is very important to a child’s development.  With this in mind, we offer many opportunities for children to run and play throughout the day including our large enclosed playlot pictured below.
                            div.image-list
                                span
                                    +expandableImage("images/expandable-images/playground/pumpkins.JPG")
                                    +expandableImage("images/expandable-images/playground/playground-spider-man.jpg")
                                    +expandableImage("images/expandable-images/playground/snow-angels.jpg")
                                    +expandableImage("images/expandable-images/playground/summer-slide.JPG")
                    li
                        div.collapsible-header Meals prepared on site daily
                        div.collapsible-body
                            p Each day we prepare breakfast, a morning snack, a hot lunch, and an afternoon snack in our kitchen on site for the children.  all menus are approved by the chicago department of health.  meals are kid friendly and healthy!
                            div.image-list
                                span
                                    +expandableImage("images/expandable-images/meals/meal_time.jpg")
                                    +expandableImage("images/expandable-images/meals/making-cookies.jpg")
                                    +expandableImage("images/expandable-images/meals/pizza.jpg")
                                    +expandableImage("images/expandable-images/meals/meal-table.jpg")
                    li
                        div.collapsible-header A thoughtful, age appropriate curriculum
                        div.collapsible-body
                            p Each classroom has a separate curriculum that fits the age group of that class. Pre reading and reading activities can be found in each classroom, and they are geared up or down according to capabilities. Numbers, science, music, creative art, dramatic play, sensory education, large and small motor skills and language arts are all an intrinsic part of each classroom. Each and every activity is offered in a way to ensure children experience success in the activity. This success will help children develop a strong and healthy self-concept. Please read our Educational Model for further info.
                            div.image-list
                                span
                                    +expandableImage("images/expandable-images/curriculum/reading.JPG")
                                    +expandableImage("images/expandable-images/curriculum/art-studio.JPG")
                                    +expandableImage("images/expandable-images/curriculum/de-stigl.JPG")
                                    +expandableImage("images/expandable-images/curriculum/tissue-art.JPG")
