p.
    Why is Care-A-Lot a great place to bring your child?&nbsp;Click on some of the reasons below for more information and pictures.
ul.collapsible.popout(data-collapsible="accordion")
    li
        div.collapsible-header Certified, experienced, responsible teachers
        div.collapsible-body
            p Because of our low staff turn-over,&nbsp; children will feel comfortable when they see the same faces each day.&nbsp; On average our teachers have about 8 years of teaching experience.
    li
        div.collapsible-header test2
        div.collapsible-body
            p Lorem ipsum dolor sit amet.
            img.materialboxed(data-caption="A picture of some deer and tons of trees", width="250", src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg")
    li
        div.collapsible-header test3
        div.collapsible-body
            p Lorem ipsum dolor sit amet.

