mixin expandableImage(caption, src)
    img.materialboxed(data-caption=caption, width="200", src=src)


div.row
    div.col.s12.m12
        div.card
            div.card-content
                span.card-title.center
                    p.
                        Why is Care-A-Lot a great place to bring your child?
                    p.
                        Click on some of the reasons below for more information and pictures.
                    ul.collapsible.popout.white-text(data-collapsible="accordion")
                        li
                            div.collapsible-header Certified, experienced, responsible teachers
                            div.collapsible-body
                                p Because of our low staff turn-over,&nbsp; children will feel comfortable when they see the same faces each day.&nbsp; On average our teachers have about 8 years of teaching experience.
                                div.image-list
                                    span
                                        +expandableImage("School fireman", "images/expandable-images/school_fireman.jpg")
                                        +expandableImage("Birthday Cake", "images/expandable-images/Big_TeacherBirthdayCake.JPG")
                                        +expandableImage("Teacher", "images/expandable-images/Big_Teacher3.jpg")
                                        +expandableImage("More teachers", "images/expandable-images/Big_CalTeachers2.JPG")
                        li
                            div.collapsible-header Fully enclosed private playlot for children
                            div.collapsible-body
                                p Research shows that play is very important to a child’s development.  With this in mind, we offer many opportunities for children to run and play throughout the day including our large enclosed playlot pictured below.
                                include ./slider.jade

                        li
                            div.collapsible-header Meals prepared on site daily
                            div.collapsible-body
                                p Each day we prepare breakfast, a morning snack, a hot lunch, and an afternoon snack in our kitchen on site for the children.  All menus are approved by the Chicago Department of Health.  Meals are kid friendly and healthy!
