extends layout

block content
    script(src='/javascripts/classrooms.js')
    div.row
        div.parallax-container
            div.parallax
                img(src="images/Big_3BoysPlayWithToys.JPG", style="display: block")
    div.row
        div.col.m9
            div.container.classrooms
                h1 Classrooms
                div#toddlers.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Toddlers (15 months - 2 years)
                            img.left(src="/images/classrooms/toddler.jpg", width=200)
                            p.
                                The Care-A-Lot toddler program is designed for children 15 to 24 months old.  This program offers a nurturing, interesting environment that enables the children to grow with confidence and build self esteem.
                            p.
                                All of our activities are age appropriate and geared to enrich the child's learning capabilities.  Our caregivers are warm, friendly, accepting, and offer gentle guidance to these precocious toddlers.
                            p.
                                Our environment is clean, safe and cheerfully decorated.  Our toddler rooms are stocked with skill-developing toys and activities, all at child level and available for them to explore at their own leisure.
                            p.
                                Our toddler room is a non-stress, growth and learning setting designed for the comfort, security, and happiness of your child.
                div#preschool.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Preschool (2 years - 4 years)
                            img.left(src="/images/Bethany.png", width=100)
                            p.
                                The Preschool program is designed for the two and three year old children that are potty-trained.  In this group the children will practice their small motor skills, i.e.  cutting with scissors, coloring, gluing, blocks and puzzles.
                            p.
                                They will practice socialization skills and verbalization through games, music, story-time and small group discussions.  There will be several opportunities on a daily basis for dramatic play, dress-up and free-play, as well as exercise for the development of large motor muscles.
                div#prek.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Pre-Kindergarten (4 years - 5 years)
                            img.left(src="/images/science-prek.jpg", width=100)
                            p.
                                The Pre-Kindergarten program is designed for older four and five year olds that have missed the Kindergarten deadline.  In our Pre-Kindergarten, the children begin working on a reading program.  This program consists of printing, work sheets and letter puppets.  The art projects in this group will be slightly more complicated than the preschool group.  Children, by now, should be easily able to manipulate scissors and pencils.  Rules are introduced to this age group because the children are more ready to understand and follow a structured environment.  One of the major goals of this program is to increase the children’s attention span in a fun way so they will expend more time and effort on each and every project introduced to them.  Letter and number recognition and beginning letter sounds of words is also a goal to be accomplished by the years end.
                div#afterschool.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Before and After School Program
                            p.
                                The CARE-A-LOT Before and After School Program is for Elementary School Children that are six through twelve years old.  This program offers children leaving for or coming from an all day school program, time to rest, time to play, time to do arts and crafts, musical experiences, computer learning and homework help.  Children can attend either before or after school sessions, or both before and after school sessions.
                div#summer-camp.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Summer Camp
                            p.
                                Our Summer Day Camp program is designed for children 6-12 years old.  The children must be Kindergarten graduates.  This program is a favorite of past students who come back, year after year, to the stablility and acceptance of the center they attended when they were younger.
                            p.
                                Campers go on daily field trips and also enjoy swimming lessons at the YMCA once a week.  Some of the field trips include:  Kiddieland, SafariLand, Enchanted Castle, Pump it Up, Build-A-Bear, Go Bananas, Wild West Town, Lamb's Farm, Nickel City, Shakespeare Theater at Navy Pier, Lincoln Park Zoo, Haunted Trails, Cernin Space Center, Brookfield Zoo, The Putting Edge, Field Museum, Habetler Bowl, The Grove, etc. It is easy to see why past students can not wait to return to our Summer Camp Program!
                div#other-info.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Other Information
                            p.
                                A Rate Sheet can be requested from the office to specify program hours and tuition costs for all of the above programs.
                            p.
                                A registration fee must be paid before a spot can be held for any child.  Once the registration fee has been paid, this will assure you that there will be a spot for your child whenever he/she may be ready to begin attending our program.  If you choose to wait until your child is ready to attend without paying a registration fee, chances are that there will not be any openings at that time.
                            p.
                                A Parent Policy Manual will be issued to families upon enrollment.  This Manual will answer any questions that you might have about our policies.  These include anything from Birthday Treats to Vacation Time to Staff Histories.
                            p.
                                CARE-A-LOT is a year-round school.  We do not close during the summer months or during Spring or Christmas breaks.  There is no tuition discount for days missed due to absence.  A free one week vacation from tuition is given to a family after one year of continuous enrollment.
                            p.
                                We expect and strive to keep the lines of communication open between parents and teachers.  Conferences can be scheduled at a parents request.  Children are evaluated at the beginning of each new school year and then again at the end.  Results of these evaluations are discussed at our yearly Parent/Teacher Conferences.  Your child’s teacher or the center Director are available on a daily basis to answer any questions or discuss anything at all with parents.  Should the home situation change, we ask that we be advised.
                            p.
                                At the end of each day, your child’s Teacher will issue a “Child Information Sheet” that will tell what your child ate, how his nap was, if he had a good day, if he used his listening ears, etc.
        div.col.m2.right-nav
            div.right-nav-wrapper
                ul.section.table-of-contents
                    li
                        a(href="#toddlers") Toddlers
                    li
                        a(href="#preschool") Preschool
                    li
                        a(href="#prek") Pre-Kindergarten
                    li
                        a(href="#afterschool") Before and After School
                    li
                        a(href="#summer-camp") Summer Camp
                    li
                        a(href="#other-info") Other Information
