extends layout

block content
    div.row
        div.parallax-container
            div.parallax
                img(src="images/header-images/contact-us.jpg", style="display: block")
    div.row
        div.col.m9
            div.container.classrooms
                h1 Contact us (placeholder)
