extends layout

block content
    div.row
        div.parallax-container
            div.parallax
                img(src="images/Big_3BoysPlayWithToys.JPG", style="display: block")
    div.row
        div.col.m9
            div.container.classrooms
                h1 Contact us (placeholder)
