div.row
    div.col.m9
        div.container.cirriculum
            h1 Our Curriculum
            div#language-arts.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Language Arts
                        p.
                            Language as a tool to promote the child’s descriptive skills, understanding of language, speaking vocabulary, to explain feelings and to help social interaction.  Stories, group times, dramatic play, puppetry will be integral parts of this program.  All curriculum activities shall be designed to foster and improve language skills and self-expression.
            div#creative-art.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Creative Art
                        p.
                            The art program shall include a variety of interesting activities to be carried out by the child in his own way.  Children will be allowed to develop their own individual creativeness.  New and novel materials, a comfortable, non-restrictive environment and an enthusiastic teacher shall all contribute to the child’s artistic independence and success.  These will all be attempted in an effort to strengthen self-concept and to emphasize the child’s ability to think and act on his own individual thoughts and ideas.
            div#other.section.scroll-spy
                h4 Other style
                ul.collection
                    li.collection-item.avatar
                        i.material-icons.circle folder
                        span.title Language arts
                        p.
                            The art program shall include a variety of interesting activities to be carried out by the child in his own way.  Children will be allowed to develop their own individual creativeness.  New and novel materials, a comfortable, non-restrictive environment and an enthusiastic teacher shall all contribute to the child’s artistic independence and success.  These will all be attempted in an effort to strengthen self-concept and to emphasize the child’s ability to think and act on his own individual thoughts and ideas.
                        a.secondary-content(href='#!')
                            i.material-icons grade
                    li.collection-item.avatar
                        i.material-icons.circle.green insert_chart
                        span.title Language Arts
                        p.
                            Language as a tool to promote the child’s descriptive skills, understanding of language, speaking vocabulary, to explain feelings and to help social interaction.  Stories, group times, dramatic play, puppetry will be integral parts of this program.  All curriculum activities shall be designed to foster and improve language skills and self-expression.
                        a.secondary-content(href='#!')
                            i.material-icons grade
    div.col.m2.right-nav
        div.right-nav-wrapper
            ul.section.table-of-contents
                li
                    a(href="#language-arts") Language Arts
                li
                    a(href="#creative-art") Creative Art
                //li
                //    a(href="#model-curriculum") Curriculum
                //li
                //    a(href="#methods") Methods
                //li
                //    a(href="#style") Style
