ul#about-us-dropdown.dropdown-content
    li
        a.about-us-philosophy(href="/about-us#philosophy") Philosophy
    li
        a.about-us-model(href="/about-us#model") Educational Model
    li
        a.about-us-curriculum(href="/about-us#curriculum") Curriculum Info
    li
        a.about-us-locations(href="/about-us#locations") Locations
    li
        a.about-us-covid(href="/covid-19") Covid-19 Info
ul#teachers-dropdown.dropdown-content
    li
        a(href="/teachers-milwaukee") Milwaukee Location
    li
        a(href="/teachers-central") Central Location
ul#about-us-side-dropdown.dropdown-content
    li
        a.about-us-philosophy(href="/about-us#philosophy") Philosophy
    li
        a.about-us-model(href="/about-us#model") Educational Model
    li
        a.about-us-curriculum(href="/about-us#curriculum") Curriculum Info
    li
        a.about-us-locations(href="/about-us#locations") Locations
ul#teachers-side-dropdown.dropdown-content
    li
        a(href="/teachers-milwaukee") Milwaukee Location
    li
        a(href="/teachers-central") Central Location
