ul#about-us-dropdown.dropdown-content
    li
        a.about-us-locations(href="/about-us#locations") Locations
    li
        a.about-us-philosophy(href="/about-us#philosophy") Philosophy
    li
        a.about-us-model(href="/about-us#model") Educational Model
    li
        a.about-us-curriculum(href="/about-us#curriculum") Curriculum Info
