ul#about-us-dropdown.dropdown-content
    li
        a(href="#!") Locations
    li
        a(href="#!") Philosophy
    li
        a(href="#!") Educational Model
    li
        a(href="#!") Curriculum Info
