ul#about-us-dropdown.dropdown-content
    li
        a(href="/about-us#locations") Locations
    li
        a(href="/about-us#philosophy") Philosophy
    li
        a(href="/about-us#model") Educational Model
    li
        a(href="/about-us#curriculum") Curriculum Info
