ul#about-us-dropdown.dropdown-content
    li
        a(id="about-us-locations" href="/about-us#locations") Locations
    li
        a(id="about-us-philosophy" href="/about-us#philosophy") Philosophy
    li
        a(id="about-us-model" href="/about-us#model") Educational Model
    li
        a(id="about-us-curriculum" href="/about-us#curriculum") Curriculum Info
