div.row
    div.col.m9
        div.container.educational-model
            h1 Our Educational Model
            div#assumptions.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Assumptions
                        p.
                            Each child is unique in his/her growth and development rates.  Children posses an internal potential for learning.  Interaction with a child directed environment can aide a child to internalize experiences by exploring the world around them.  Social, emotional and cognitive needs can all be fostered by a sensitive and knowledgeable caregiver who is close at hand to assist the child to construct a sharp and clearer picture of reality.
            div#goals.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Goals
                        p.
                            The goals of our program encompass the formation of socialization skills, the structure of a sturdy emotional base and the internalization of knowledge, all in a secure, non-stress, child-oriented environment.  The formation of socialization skills shall be afforded by interaction of children with children in a secure and interesting environment.  Caregivers will be present in as non-restrictive a way as possible to promote harmony and cooperativeness in the classroom.  Games, group experiences and activities designed to bring children together shall be offered in an effort to foster the birth and evolution of socialization skills.  Children need to grow and develop at their own rate in a nurturing environment.  In the classroom situation, it is the caregiver’s responsibility to meet and satisfy children’s emotional needs.  Learning experiences shall all be offered to be in accordance with children’s individual abilities.  By experiencing success, children can develop a strong and healthy self-concept.  A caregiver who is affectionate and accepting and sensitive to children’ needs will help them to form a sturdy emotional base.  The environment shall be constructed in such a way as to encourage exploration and allow children to utilize investigative skills in an effort to internalize problem solving techniques and knowledge.
            div#methods.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Methods
                        p.
                            Teachers will offer various activities to the children and they will choose which they prefer to partake in.  Children will not be forced to participate in any one activity.  Teachers will be non-restrictive participants and only interfere when necessary to set limits and keep harmony in the classroom.
            div#style.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Style
                        p.
                            Both structured and informal activities shall be offered by the teacher.  The teachers’ role will depend on the activity being presented.  In a structured science experiment, for example, the teacher will organize the activity and supervise the carrying out of activities.  This will be necessary to insure safety, and to initiate an understanding of process.  In an art activity, the teacher may set out the materials and allow children to finish the activity in their own way, her role - merely that of an on-looker.
    div.col.m2.right-nav
        div.right-nav-wrapper
            ul.section.table-of-contents
                li
                    a(href="#assumptions") Assumptions
                li
                    a(href="#goals") Goals
                li
                    a(href="#methods") Methods
                li
                    a(href="#style") Style