extends layout

block content
    div.row
        div.parallax-container
            div.parallax
                img(src="images/kids-filling-forms.jpg", style="display: block")
    div.row
        div.col.m9.offset-m1
            div.container.classrooms
                h1 Enrollment Forms
                p Please print the following forms out, complete them, and bring them to the school when you're ready to apply!
                ul.collapsible(data-collapsible="expandable")
                    li
                        div.collapsible-header.active Application Form
                        div.collapsible-body
                            p This form gives us the parents contact information and explains our enrollment policies.
                            p.center-align
                                a.waves-effect.waves-light.btn(href="documents/child-application-form.docx")
                                    i.material-icons.left file_download
                                    | Download
                    li
                        div.collapsible-header.active Questionnaire
                        div.collapsible-body
                            p This form is designed to help the teachers better understand your home life and your child.
                            p.center-align
                                a.waves-effect.waves-light.margin-right.btn(href="documents/questionnaire-1.docx")
                                    i.material-icons.left file_download
                                    | First questionnaire
                                a.waves-effect.waves-light.btn(href="documents/questionnaire-2.docx")
                                    i.material-icons.left file_download
                                    | Second questionnaire
                    li
                        div.collapsible-header.active Permission Authorization
                        div.collapsible-body
                            p This form gives us information regarding your child's physician to be used in case of emergency. It also gives us permission to participate in walking field trips, classroom photos.
                            p This will also give you information regarding our disenrollment policy.
                            p.center-align
                                a.waves-effect.waves-light.btn(href="documents/permission-authorization.doc")
                                    i.material-icons.left file_download
                                    | Download
                    li
                        div.collapsible-header.active Emergency Card
                        div.collapsible-body
                            p These are the documents you can fill out in case of emergency so someone can come to pick up your child. The emergency contacts must be:
                                br
                                br
                                | 1. 16 years or older
                                br
                                | 2. Have a valid drivers license
                            p Your child will be allowed to leave with whoever you put on these forms at any time. If no one fits the requirements, an order of protection form or custody papers are required.
                            p.center-align
                                a.waves-effect.waves-light.btn(href="documents/emergency-card.doc")
                                    i.material-icons.left file_download
                                    | Download
