extends layout

block content
    div.row
        div.parallax-container
            div.parallax
                img(src="images/balloons-faq.jpg", style="display: block")
    div.container
        div.row
            h1 Frequently Asked Questions
            p Just scroll down or type in what you are looking for in the below search box and the relevant FAQs will be shown!
            div#faq-list.col.l12
                input.search(placeholder="Search")
                ul.collection.with-header.faqs.list
                    each faq in faqs
                        - question = faq.question
                        - answer = faq.answer
                        li.collection-item
                            div.question
                                p
                                    =question
                                    span.secondary-content
                                        img(src="/images/question_icon.png")
                            div.answer
                                p
                                    =answer
                                    span.secondary-content
                                        img(src="/images/answer_icon.png")
