// Created by anthonyscatchell on 12/30/15.

footer.page-footer
    div.container
        div.row
            div.col.l5
                h5.
                    Classrooms
                p
                    a(href="/classrooms#toddlers") Toddlers (15 months - 2 yrs old)
                p
                    a(href="/classrooms#preschool") Preschool (2 - 3 years)
                p
                    a(href="/classrooms#prek") Per-Kindergarten (4 - 5 years)
                p
                    a(href="/classrooms") School-Aged Program (6 - 12 years)
                p
                    a(href="/classrooms#afterschool") Summer Day-Camp (6 - 12 years)
            div.col.l4
                h5.
                    About Us
                p
                    a.about-us-philosophy(href="/about-us#philosophy") Philosophy
                p
                    a.about-us-model(href="/about-us#model") Educational Model
                p
                    a.about-us-curriculum(href="/about-us#curriculum") Curriculum Info
                p
                    a.about-us-locations(href="/about-us#locations") Locations
            div.col.l3
                h5.
                    Useful Links
                p
                    a(href="/enrollment") Enrollment
                p
                    a(href="/virtual-tour") Virtual Tour
                p
                    a(href="/faq") FAQ
                p
                    a(href="/contact-us") Contact Us
    div.footer-copyright
        div.container.
            Copyright ©2009 Care-A-Lot Early Learning Centers, Inc. All rights reserved.
