// Created by anthonyscatchell on 12/30/15.

footer.page-footer
    div.container
        div.row
            div.col.l4
                h5.
                    Services
                p
                    a(href="/services#toddlers") Toddlers (15 months - 2 yrs old)
                p
                    a(href="/services#preschool") Preschool (2 - 3 years)
                p
                    a(href="/services#prek") Per-Kindergarten (4 - 5 years)
                p
                    a(href="/services") School-Aged Program (6 - 12 years)
                p
                    a(href="/services#afterschool") Summer Day-Camp (6 - 12 years)
            div.col.l4
            div.col.l4
    div.footer-copyright
        div.container.
            Copyright ©2009 Care-A-Lot Early Learning Centers, Inc. All rights reserved.
