extends layout

block content
    include ./slider_videos.jade
    div.section
        div.container
            div.row
                div.col.s12
                   div.card
                       div.card-content
                           div.card-title.center
                                p
                                    b Care-A-Lot is Re-opening!
                           p We are happy to announce Care-A-Lot will be re-opening on <i><b>June 3rd!</b></i>
                           p Care-A-Lot has been closed since March 23 due to the COVID-19 virus, and we are very excited to welcome you all back to our center! We are also grateful to see things beginning the return to normal. We have many fun and creative learning activities waiting for you and we can’t wait to see your smiling faces!
                           p Please view our COVID-19 page by clicking the button below to find more information about our reopening policies.
                           p.center-align
                               a.waves-effect.waves-light.btn(href="/covid-19")
                                   i.material-icons.left info
                                   | COVID-19 Information
            div.row
                include ./accordian.jade
            div.row
                div.col.l6.offset-l3
                    div.card
                        div.card-content
                            div.card-title.center
                                p Like us on Facebook!
                            div#like-container
                                p
                                    a(href="https://www.facebook.com/carealot6441") Care-A-Lot (Central) Facebook page
                                    div.fb-like(data-href="https://www.facebook.com/carealot6441/" data-width="250" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true")
                                p
                                    a(href="https://www.facebook.com/carealot5522") Care-A-Lot (Milwaukee) Facebook page
                                    div.fb-like(data-href="https://www.facebook.com/carealot5522/" data-width="250" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true")
