extends layout

block content
    div.parallax-container
        div.parallax
            img(src="images/Big_3BoysPlayWithToys.JPG", style="display: block")
    div.section
        div.container
            div.row
                include ./accordian.jade
