extends layout

block content
    div.parallax-container
        div.parallax
            img(src="images/Big_3BoysPlayWithToys.JPG", style="display: block")
    div.section.white
        div.container
            div.row
                h1= title
                include ./accordian.jade
//div.row
//  div.col.s12.m6
//    div.card.blue-grey.darken-1
//      div.card-content.white-text
//      span.card-title Card Title
//      p.
//        I am a very simple card. I am good at containing small bits of information.
//        I am convenient because I require little markup to use effectively.</p>
//      div.card-action
//        a(href="#") This is a link
//        a(href="#") This is another link
