doctype html
html
    head
        title= 'Care-A-Lot'
        link(rel='stylesheet', href='/stylesheets/materialize/materialize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include ./navbar.jade
        block content
        script(src='/javascripts/jquery-1.11.3.js')
        script(src='/javascripts/global.js')
        script(src='/javascripts/materialize/bin/materialize.js')
