doctype html
html
    head
        title= 'Care-A-Lot'
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/materialize/css/materialize.css')
    body
        include ./navbar.jade
        .container
            block content
        script(src='/javascripts/jquery-1.11.3.js')
        script(src='/javascripts/global.js')
        script(src='/materialize/js/materialize.js')
