div.row
    div.col.l12
        h1 Center Locations
        div.row
            div.col.l6
                div.street-view-header
                    h5.
                        Map for Central Ave. Location
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.083281627471!2d-87.76352504018304!3d41.998488186147185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fcec7138c3317%3A0x16ebca2cbdafcb!2s6441+N+Central+Ave%2C+Chicago%2C+IL+60646!5e0!3m2!1sen!2sus!4v1451592857946", width="600", height="450", frameborder="0", style="border:0", allowfullscreen)
            div.col.l6
                div.street-view-header
                    h5.
                        Street View for Central Ave. Location
                iframe(src="https://www.google.com/maps/embed?pb=!1m0!4v1497780380505!6m8!1m7!1sE2CiZOwqFU-Wty8QY9DKow!2m2!1d41.99852155654226!2d-87.76336350787909!3f84.55186757761652!4f-3.5946727840415065!5f0.6487453127460137", width="600", height="450", frameborder="0", style="border:0", allowfullscreen)
        div.row
            div.col.l6
                div.street-view-header
                    h5.
                        Map for Milwaukee Ave. Location
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.8494935902563!2d-87.77618358464154!3d41.9820410792141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fceab78c37af1%3A0x6852aee916c03b95!2s5522+N+Milwaukee+Ave%2C+Chicago%2C+IL+60630!5e0!3m2!1sen!2sus!4v1451615058114", width="600", height="450", frameborder="0", style="border:0", allowfullscreen)
            div.col.l6
                div.street-view-header
                    h5.
                        Street View for Milwaukee Ave. Location
                iframe(src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1452220923823!6m8!1m7!1sTAzoGp5NVq_sPHsHOaoA3Q!2m2!1d41.98214196628082!2d-87.77372815146373!3f250.73!4f-9.700000000000003!5f1.8738424128377669", width="600", height="450", frameborder="0", style="border:0", allowfullscreen)
