header.red.accent-1
    div.row
        div.center
            img(src="images/CALlogo.gif")
            img(src="images/CAL_clip_image001.gif")
    div.row
        div.center
            h5.blue-text.text-darken-1.
                "Your child's home away from home"
    nav.top-nav.red.accent-1
        div.nav-wrapper
            ul#nav-mobile.hide-on-med-and-down
                li
                    a(href="/services") Services
                li
                    a(href="/enrollment") Enrollment
                li
                    a(href="/about-us") About Us
                li
                    a(href="/virtual-tour") Virtual Tour
                li
                    a(href="/faq") FAQ
                li
                    a(href="/contact-us") Contact Us