include ./dropdowns.jade

header
    script(src='/javascripts/navbar-footer.js')
    div.row.center
        div.col.l4.m6.s12.offset-l2
            div.row.center.logo#page-top
                include ./logo.jade
            div.row.center
                h5 "Your child's home away from home"
        div.col.l4.m6.s12.offset-l1
            div#inquiries.valign-wrapper
                div
                    h5.valign Inquiries:
                    h5.valign
                        a(href="#central-modal")#central-modal-link.modal-trigger Central Ave:
                        span.phone-number 773-763-8888
                        div.fb-like(data-href="https://www.facebook.com/carealot6441/" data-width="300" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                    h5.valign
                        a(href="#milwaukee-modal")#milwaukee-modal-link.modal-trigger Milwaukee Ave:
                        span.phone-number 773-763-0888
                        div.fb-like(data-href="https://www.facebook.com/carealot5522/" data-width="300" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                    h5.valign
                        a(href="mailto:cal@carealot4kids.com")#cal-mail-link.space-margin-right cal@carealot4kids.com
                        span E-Mail us!
    nav.top-nav
        div.nav-wrapper
            a(href="#" data-activates="mobile-side-nav" class="button-collapse")
                i.material-icons menu
            ul#nav-mobile
                li
                    a(href="/classrooms") Classrooms
                li.dropdown-button(data-activates="about-us-dropdown")
                    a(href="/about-us#page-top") About Us
                        i.material-icons.right arrow_drop_down
                li.dropdown-button(data-activates="teachers-dropdown")
                    a Teacher Bios
                        i.material-icons.right arrow_drop_down
                li
                    a(href="/testimonials") Testimonials
                li
                    a(href="/virtual-tour") Virtual Tour
                li.hide-on-med-and-down
                    a(href="/enrollment") Enrollment
                li.hide-on-med-and-down
                    a(href="/faq") FAQ
            ul#mobile-side-nav.side-nav
                li
                    a(href="/classrooms") Classrooms
                li.dropdown-button(data-activates="about-us-side-dropdown")
                    a(href="/about-us#page-top") About Us
                        i.material-icons.right arrow_drop_down
                li.dropdown-button(data-activates="teachers-side-dropdown")
                    a Teacher Bios
                        i.material-icons.right arrow_drop_down
                li
                    a(href="/testimonials") Testimonials
                li
                    a(href="/virtual-tour") Virtual Tour
                li
                    a(href="/enrollment") Enrollment
                li
                    a(href="/faq") FAQ
