header
    div.row.center
        a(href="/")
            img(src="images/CALlogo.gif")
            img(src="images/CAL_clip_image001.gif")
    div.row.center
        h5.yellow-text.text-darken-1.
            "Your child's home away from home"
    nav.top-nav
        div.nav-wrapper
            ul#nav-mobile.hide-on-med-and-down
                li
                    a(href="/services") Services
                li
                    a(href="/enrollment") Enrollment
                li
                    a(href="/about-us") About Us
                li
                    a(href="/virtual-tour") Virtual Tour
                li
                    a(href="/faq") FAQ
                li
                    a(href="/contact-us") Contact Us