header.red.accent-1
    div.row
        div.col.s12
            h1.center
                a(href="#") CAL-Logo
    nav.top-nav.red.accent-1
        div.nav-wrapper
            ul#nav-mobile.hide-on-med-and-down
                li
                    a(href="/services") Services
                li
                    a(href="/enrollment") Enrollment
                li
                    a(href="/about-us") About Us
                li
                    a(href="/virtual-tour") Virtual Tour
                li
                    a(href="/faq") FAQ
                li
                    a(href="/contact-us") Contact Us