include ./dropdowns.jade

header
    script(src='/javascripts/navbar-footer.js')
    div.row.center
        div.col.l4.offset-l2
            div.row.center.logo#page-top
                include ./logo.jade
            div.row.center
                h5 "Your child's home away from home"
        div.col.l4.offset-l1
            div#inquiries.valign-wrapper
                div
                    h5.valign Inquiries:
                    h5.valign
                        a(href="#central-modal")#central-modal-link.modal-trigger Central Ave:
                        span.phone-number 773-763-8888
                    h5.valign
                        a(href="#milwaukee-modal")#milwaukee-modal-link.modal-trigger Milwaukee Ave:
                        span.phone-number 773-763-0888
                    h5.valign
                        a(href="mailto:cal@carealot4kids.com")#cal-mail-link.space-margin-right cal@carealot4kids.com
                        span E-Mail us!
    nav.top-nav
        div.nav-wrapper
            ul#nav-mobile
                li
                    a(href="/classrooms") Classrooms
                li
                    a(href="/enrollment") Enrollment
                li.dropdown-button(data-activates="about-us-dropdown")
                    a(href="/about-us#page-top") About Us
                        i.material-icons.right arrow_drop_down
                li.dropdown-button(data-activates="teachers-dropdown")
                    a Teacher Bios
                        i.material-icons.right arrow_drop_down
                li
                    a(href="/testimonials") Testimonials
                li
                    a(href="/virtual-tour") Virtual Tour
                li
                    a(href="/faq") FAQ

