header
    div.row.center
        div.col.l4.offset-l2
            div.row.center
                a(href="/")
                    img(src="images/CALlogo.gif")
                    img(src="images/CAL_clip_image001.gif")
            div.row.center
                h5.
                    "Your child's home away from home"
        div.col.l4.offset-l1
            div#inquiries.valign-wrapper
                div
                    h5.valign Inquiries:
                    h5.valign Central: 773-763-5888
                    h5.valign Milwaukee: 773-763-5888
    nav.top-nav
        div.nav-wrapper
            ul#nav-mobile.hide-on-med-and-down
                li
                    a(href="/services") Services
                li
                    a(href="/enrollment") Enrollment
                li
                    a(href="/about-us") About Us
                li
                    a(href="/virtual-tour") Virtual Tour
                li
                    a(href="/faq") FAQ
                li
                    a(href="/contact-us") Contact Us