div.row
    div.col.m9
        div.container.philosophy
            h1 School Philosophy
            div#teaching-style.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Our Teaching Style
                        img.left(src="/images/toddlers.jpeg", width=200)
                        p.
                            We believe that the evolvement of social, emotional and cognitive skills are of considerable importance to a child’s overall development.  For this reason, we have incorporated into our program:  experiences, activities and learning methods that will allow children to expand, investigate and nourish these skills.
                            Social interaction and play are primary factors to our philosophy.  We view play as a prelude to the acquisition and understanding of developmental skills.  We regard play as a very real and stimulative learning experience for children.  Early Childhood research has proven that play is a very important factor to a child’s developmental needs.  As often as possible, play will be incorporated into any learning experience that warrants this method of learning.
                            A healthy social attitude is another of our goals.  Teacher and child relations should be warm, supportive and attuned to the child’s needs.  Teachers and children, alike, will be responsible for respecting the rights of others.  Social interaction between all involved in the classroom situation should be a pleasurable experience:  a give and take effort that will generate a healthy social development to all children.
            div#emotional-development.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Emotional Development
                        img.left(src="/images/Bethany.png", width=100)
                        p.
                            In terms of emotional development, we strive to maintain a warm, secure and nourishing environment.  We feel that the caregiver plays a critical role in the child’s emotional development.  For this reason they are not chosen solely on the basis of professional merit.  We strive to provide caregivers that are capable of developing a relationship with children.  It is essential that the caregiver is sensitive and intuitive to the needs of children.  One on one communication between caregiver and each individual child should be cultivated in an effort to make the day care experience a success for all involved.
                        p.
                            Cognitive development will occur in a natural, non-stress atmosphere.  At Care-A-Lot, we offer an environment designed to stimulate the child’s interest and curiosity.  Investigative skills and creativity have a considerable effect on cognitive development.  Activities and learning experiences are offered in an endeavor to foster, within the child, the urge to participate in a constructive and original way.  Children do not develop at the same rate.  Activities will be offered on this premise:  Individual differences are expected and will be accomodated!
                        p.
                            In an effort to appropriate each child as an individual, and in an effort to maximize successful encounters for all children, we have striven to structure our program to encase developmental needs at various developmental levels.  In order to fix on children’s developmental needs, we have adapted the teachings and theory of Jean Piaget and his ‘Theory of Cognitive Development.'
            div#theory.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Theory of Social Behavior
                        p.
                            Our program will also encompass the teachings of Erik Erikson and his ‘Theory of Psycho-Social Behavior.'
                        p.
                            It is important that the security and comfortability of any classroom situation be maintained.  In our effort to offer a secure environment to all children, the question of discipline method may arise.  Our program will utilize positive discipline as a means of guarantying children’s emotional and social well-being.  Positive discipline assures that a child is not punished emotionally, socially or physically.  In our effort to promote prosocial behavior, we practice positive reinforcement and the offer of alternate activities.  Explanations and examples of prosocial behaviors will serve as learning experiences to children.  It is important that children incorporate unto themselves an understanding of their responsibility as to what happens to others.  One child shall not be made to feel less than another child.  A basic sense of fairness and an uninjured self-concept are major goals of our program.  In this way, we hope to insure that children will develop a healthy respect for eachothers’ rights and a wholesome value system.
            div#success.section.scroll-spy
                div.card
                    div.card-content
                        span.card-title
                            h4 Success
                        p.
                            Success is the corner stone to self-concept, and all aspects of our program are designed to ascertain that children will achieve success and realize skill competence.
                        p.
                            In an effort to escalate the successfulness of our program to all parties involved, we strongly urge parental involvement.  It is our practice to offer Parent Workshops to interested parents.  Workshops are an integral part of our program as they serve to better acquaint parent and teacher so that they may work together in an effort to meet the child’s developmental needs.  Parent conferences, too, are held high on our list of priorities.  It is imperative that parents touch base with a teacher so that individual needs and differences can be successfully accounted for and appropriated.
                        p.
                            At CARE-A-LOT, we believe in children.  We believe that they should be allowed to grow and develop at their own rate in a secure environment that is conducive to their well being and developmental needs.  We emphatically believe in the importance of the preschool years on all aspects of a child’s overall development, and strive to produce a satisfying and stimulating daycare experience for each individual child and his inherent needs.
    div.col.m2.right-nav
        div.right-nav-wrapper
            ul.section.table-of-contents
                li
                    a(href="#teaching-style") Teaching Style
                li
                    a(href="#emotional-development") Emotional Development
                li
                    a(href="#theory") Theory
                li
                    a(href="#success") Success