extends layout

block content
    div.row
        div.col.l12
            div.parallax-container
                div.parallax
                    img(src="images/Big_3BoysPlayWithToys.JPG", style="display: block")
    div.row
        div.col.m9
            div.container.services
                h1 Services
                div#toddlers.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Toddlers (15 months - 2 years)
                            img.left(src="/images/toddlers.jpeg", width=200)
                            p.
                                The Care-A-Lot toddler program is designed for children 15 to 24 months old.  This program offers a nurturing, interesting environment that enables the children to grow with confidence and build self esteem.
                            p.
                                All of our activities are age appropriate and geared to enrich the child's learning capabilities.  Our caregivers are warm, friendly, accepting, and offer gentle guidance to these precocious toddlers.
                            p.
                                Our environment is clean, safe and cheerfully decorated.  Our toddler rooms are stocked with skill-developing toys and activities, all at child level and available for them to explore at their own leisure.
                            p.
                                Our toddler room is a non-stress, growth and learning setting designed for the comfort, security, and happiness of your child.
                div#preschool.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Preschool (2 years - 4 years)
                            img.left(src="/images/Bethany.png", width=100)
                            p.
                                The Preschool program is designed for the two and three year old children that are potty-trained.  In this group the children will practice their small motor skills, i.e.  cutting with scissors, coloring, gluing, blocks and puzzles.  They will practice socialization skills and verbalization through games, music, story-time and small group discussions.  There will be several opportunities on a daily basis for dramatic play, dress-up and free-play, as well as exercise for the development of large motor muscles.
                div#prek.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Pre-Kindergarten (4 years - 5 years)
                            p.
                                The Pre-Kindergarten program is designed for older four and five year olds that have missed the Kindergarten deadline.  In our Pre-Kindergarten, the children begin working on a reading program.  This program consists of printing, work sheets and letter puppets.  The art projects in this group will be slightly more complicated than the preschool group.  Children, by now, should be easily able to manipulate scissors and pencils.  Rules are introduced to this age group because the children are more ready to understand and follow a structured environment.  One of the major goals of this program is to increase the children’s attention span in a fun way so they will expend more time and effort on each and every project introduced to them.  Letter and number recognition and beginning letter sounds of words is also a goal to be accomplished by the years end.
                div#afterschool.section.scroll-spy
                    div.card
                        div.card-content
                            span.card-title
                                h4 Before and After School Program
                            p.
                                The CARE-A-LOT Before and After School Program is for Elementary School Children that are six through twelve years old.  This program offers children leaving for or coming from an all day school program, time to rest, time to play, time to do arts and crafts, musical experiences, computer learning and homework help.  Children can attend either before or after school sessions, or both before and after school sessions.

        div.col.m2.right-nav
            div.right-nav-wrapper
                ul.section.table-of-contents
                    li
                        a(href="#toddlers") Toddlers
                    li
                        a(href="#preschool") Preschool
                    li
                        a(href="#prek") Pre-Kindergarten
                    li
                        a(href="#afterschool") Before and After School
