div.parallax-container
    div.parallax
        video#cal-video-one.cal-videos(preload='auto', poster="images/Big_3BoysPlayWithToys.JPG", autoplay='autoplay', muted='muted' loop)
            source(src='videos/cubs-kids.mp4', type='video/mp4')
