div.slider
    ul.slides
        li
            video#cal-video-one.cal-videos(preload='auto', autoplay='autoplay', muted='muted')
                source(src='videos/kids_playing.mp4', type='video/mp4')
