div.slider
    ul.slides
        li
            video#cal-video-one.cal-videos(preload='auto', autoplay='autoplay', muted='muted')
                source(src='http://techslides.com/demos/sample-videos/small.mp4', type='video/mp4')
        li
            video#cal-video-two.cal-videos(preload='auto', autoplay='autoplay', muted='muted')
                source(src='http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4', type='video/mp4')
