div.slider
    ul.slides
        li
            img(src="/images/slider-images/001.JPG")
            div.caption.center-align
                h3 This is our big Tagline!
                h5.light.grey-text.text-lighten-3 Here's our small slogan.
        li
            img(src="/images/slider-images/009.JPG")
            div.caption.center-align
                h3 This is our big Tagline!
                h5.light.grey-text.text-lighten-3 Here's our small slogan.
        li
            img(src="/images/slider-images/IMAG0292.jpg")
            div.caption.center-align
                h3 This is our big Tagline!
                h5.light.grey-text.text-lighten-3 Here's our small slogan.
        li
            img(src="/images/slider-images/P1000176.JPG")
            div.caption.center-align
                h3 This is our big Tagline!
                h5.light.grey-text.text-lighten-3 Here's our small slogan.