div.slider
    ul.slides
        li
            img(src="http://lorempixel.com/580/250/nature/1")
            div.caption.center-align
                h3 This is our big Tagline!
                h5.light.grey-text.text-lighten-3 Here's our small slogan.
        li
            img(src="http://lorempixel.com/580/250/nature/2")
            div.caption.center-align
                h3 This is our big Tagline!
                h5.light.grey-text.text-lighten-3 Here's our small slogan.
        li
            img(src="http://lorempixel.com/580/250/nature/3")
            div.caption.center-align
                h3 This is our big Tagline!
                h5.light.grey-text.text-lighten-3 Here's our small slogan.