extends layout

block content
    script(src='/javascripts/teachers.js')
    div.row
        div.parallax-container
            div.parallax
                //todo change image
                img(src="images/teachers/milwaukee/milwaukee-teachers-header.jpg", style="display: block")
    div.row
        div.col.m10
            div.container.teachers
                div.row
                    h1 Our Teachers
                    div.col.l12
                        ul.collection.list
                            li.collection-item
                                h3 Peggy Strapko
                                div#peggy.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/milwaukee/peggy.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Peggy has been at Care-A-Lot since 1986.  In this time, she has worked as a Kindergarten Teacher, Pre-Kindergarten Teacher and Director.  Peggy is an Illinois State Certified Elementary Teacher K-9. She earned her BA at North Eastern Illinois University and went on to pursue completing a Master’s Degree at National Lewis University.  Peggy developed and wrote the Kindergarten Curriculum at our center. She has served on many school boards and committees.
                                                p.
                                                    Peggy is certified in CPR/First Aid, Mildly Infectious Disease, Airborne Disease and Asthma in Children, Bloodborne Pathogens and Children and Disabilities. Peggy has also earned her Early Childhood Certification Level 1.  Peggy completes at least 20 hours of Early Childhood training each year.
                                                p.
                                                    Peggy’s goal as a teacher is to watch each child’s personality unfold day by day and marvel at the growth and development of each student.  Her classroom is chock full of learning centers developed to offer the children a variety of experiences.  She lives for the moments when children internalize her teaching and master new skills.
                            li.collection-item
                                h3 Sara Sydor
                                div#sara.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/milwaukee/sara.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Sara has been at Care-A-Lot since 2006. She started working in the afternoons after her high school classes and worked her way up to Toddler Teacher, Camp Counselor and Director. Sara earned her BA in Early Childhood at Dominican University in 2010.  Sara is also endorsed in Special Education.
                                                p.
                                                    Sara is certified in CPR/First Aid, Food Management and Sanitation, Poison Prevention, Bloodborne Pathogens, Child/Family/Community as Partners in Learning/Disaster Training for daycare centers and the young child, to name a few. Sara has earned her Early Childhood Certification Level 1. Sara earns at least 20 Early Childhood training hours per year.
                                                p.
                                                    Sara’s forte is books.  She strives to make storytime a special, creative and imaginative experience for the children. She does this with dress up, puppet play, flannelboard play and much more.  Sara lives for the moment when the children are participating in a story so attentively that the classroom is suddenly completely quiet. To Sara books and words are ‘magic’. The magic lies in the way the stories engage the children’s hearts and minds.  As a Summer Day Camp Counselor Sara gets to reconnect with the children that return to us from Elementary School. These are children that she has known from a very young age.  Sara is delighted to watch our alumni grow and develop into successful learners.

                            li.collection-item
                                h3 Monica Vasquez
                                div#monica.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/milwaukee/monica.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Monica started working at Care-A-Lot in 2007 and now runs the Toddler classroom. Monica is bi-lingual and loves teaching the children Spanish words and phrases throughout the day. Monica brings into the classroom theater, art, creativity and musical experiences that light up those little faces and get those little feet tapping.
                                                p.
                                                    Monica is certified in CPR/First Aid, Mildly Infectious Disease and Food Management and Sanitation.  Monica has also earned the Early Childhood Certification Level 1.  Monica completes at least 20 hours of Early Childhood training hours per year.
                                                p.
                                                    Monica enjoys every aspect of teaching and is gratified that, over time, the children have taught her so much about discovery, imagination, curiosity and the never-ending quest for learning.  Most importantly, Monica aspires to support each child in their own individual path and offer the care and resources necessary to facilitate positive individual growth.

                            li.collection-item
                                h3 Victoria Aguilar
                                div#vicky.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/milwaukee/vicky.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Vicky has been teaching at Care-A-Lot since 2011.  She has had the opportunity
                                                    to work in all three classrooms and is now the Head Preschool Teacher.  Vicky
                                                    is also a ‘Golden Apple Scholar’ which offered her many opportunities that
                                                    enhanced her teaching experience immensely.  Vicky graduated from DePaul
                                                    University with a BA in Art Education.

                                                p.
                                                    Vicky has received the Early Childhood Certification Level 1. Vicky is certified
                                                    in CPR/First Aid, bloodborne pathogens and Food Management and Sanitation.
                                                    She has completed courses in Culturally and Linguistically Appropriate Practices
                                                    and Special Education.  Vicky also has an endorsement in middle school art.
                                                    She is professionally trained in art practices and how to teach them.  Vicky
                                                    completes at least 20 training hours in Early Childhood each year.

                                                p.
                                                    In Vicky’s classroom you will always see her smiling with her students.
                                                    She lives to share her love for the Arts.  Creating, dancing and expression are
                                                    a big part of her day with the children.  She believes all children are artists
                                                    and it’s her job to help them shine in their chosen art form/medium.  She loves
                                                    working with the Preschool children because they are so willing to learn and ask
                                                    questions.

                            li.collection-item
                                h3 Beth Mendez
                                div#beth.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/milwaukee/beth.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Beth has been at Care-A-Lot since 2014. Beth is the Teacher Assistant in the Preschool Classroom.  Beth is planning to further her education when her 2 small children are older. At this time, she is taking online Early Childhood Classes to further her career.  Beth completes at least 20 hours of Early Childhood training each year.
                                                p.
                                                    Beth is certified in CPR/First Aid and Food Handler Sanitation. Each day is a new and different experience in the Preschool Classroom and Beth loves introducing new ideas, concepts and learning opportunities to the children each day. She loves introducing new materials for the children to experiment with.

                                li.collection-item
                                    h3 Olivia Sanchez
                                    div#olivia.section.scroll-spy
                                        div.card.horizontal.valign-wrapper
                                            div.card-image
                                                img(src="images/teachers/milwaukee/olivia.jpg")
                                            div.card-stacked
                                                div.card-content
                                                    p.
                                                        Olivia has been working at Care-A-Lot since 2014.  She is a Teacher Assistant in the Toddler Room.  Olivia is currently a full time student at Wright College.
                                                    p.
                                                        Olivia is certified in CPR/First Aid, Food Handler and Sanitation. She has earned a certificate in the Basics of Culturally Linguistically Appropriate Practices.
                                                    p.
                                                        Olivia lives for the sound of laughter in the classroom and sometimes does silly things just to hear the children laugh. She is always amazed at the growth and development that occurs in the Toddler Room before the children graduate to Preschool.

                                li.collection-item
                                    h3 Brande Donovan
                                    div#brande.section.scroll-spy
                                        div.card.horizontal.valign-wrapper
                                            div.card-image
                                                img(src="images/teachers/milwaukee/brande.jpg")
                                            div.card-stacked
                                                div.card-content
                                                    p.
                                                        Brande has been at Care-A-Lot since 2015. She began as a cleaner in the afternoons and is currently a Teacher Assistant in the Toddler Room.
                                                    p.
                                                        Brande is certified in CPR/First Aid, Food handler and Sanitation, Bloodborne Pathogens and Safety and Health of Young Children.  Brande completes at least 20 training hours in Early Childhood each year.
                                                    p.
                                                        Brande’s favorite activities with the children are ‘Disney Dance Parties’.  The magic of childhood is never more pronounced than when the children are dancing and dressing as their favorite Disney character.

        div.col.m2.right-nav
            div.right-nav-wrapper
                ul.section.table-of-contents
                    li
                        a(href="#vicky") Victoria Aguilar
                    li
                        a(href="#monica") Monica Vasquez
                    li
                        a(href="#sara") Sara Sydor
                    li
                        a(href="#peggy") Peggy Strapko
                    li
                        a(href="#beth") Beth Mendez
                    li
                        a(href="#olivia") Olivia Sanchez
                    li
                        a(href="#brande") Brande Donovan
