extends layout

block content
    script(src='/javascripts/teachers.js')
    div.row
        div.parallax-container
            div.parallax
                //todo change image
                img(src="images/teachers/central/central-teachers-header.jpg", style="display: block")
    div.row
        div.col.m10
            div.container.teachers
                div.row
                    h1 Our Teachers
                    div.col.l12
                        ul.collection.list
                            li.collection-item
                                h3 Sheri Plotke
                                div#sheri.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/central/sheri.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Sheri has been at Care-A-Lot for 30 years.  She has been a teacher of every classroom and was promoted to Director about 20 years ago.  Sheri helped open the Toddler Program at Central Avenue in 2005.
                                                p.
                                                    Sheri is certified in First Aid/CPR, Mildly Infectious Disease, Children and Disabilities, Food Management and Sanitation, Airborne Disease and Asthma in Children, to name a few.  Sheri has also earned Early Childhood Certification Level 1.  Sheri completes at least 20 hours of Early Childhood training classes each year.
                                                p.
                                                    Her favorite teaching moment:  When a child graduates out of our center and returns to visit us - the growth, development and emergent personality all visible.  It is rewarding to know we had a hand in the strong, confident formation of skills and self.
                            li.collection-item
                                h3 Cheryl Pullia
                                div#cheryl.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/central/cheryl.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Cheryl has been teaching at Care-A-Lot for almost 15 years.  Cheryl is the Toddler Teacher and Assistant Director.  She enjoys reading and dancing with the children and spends many hours searching out age appropriate art activities that the children can enjoy.
                                                p.
                                                    Cheryl is certified in First Aid/CPR, Mildly Infectious Disease, Children and Disabilities,  Food Manager and Sanitation and has an Early Childhood Certification Level 1.  Cheryl also earns 20 training hours in Early Childhood each year.
                            li.collection-item
                                h3 Sara Peterson
                                div#sara.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/central/sara.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Sara is in the unique position of having once been a student at Care-A-Lot many, many years ago.  She has been working at Care-A-Lot for 7 years and now co-teaches in the Pre-Kindergarten classroom.
                                                p.
                                                    Sara loves teaching the children something new every day and strives to make learning fun.  The most rewarding part of her job is watching the children grow and witnessing their ‘I cant’s’ become ‘I can’s’.
                                                p.
                                                    Sara is certified in First Aid/CPR and has earned Early Childhood Certification Level 1.  Sara is currently furthering her Early Childhood Education with night classes.  Sara also completes at least 20 hours of Early Childhood training hours each year.
                            li.collection-item
                                h3 Crystal Harvey
                                div#crystal.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/central/crystal.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Crystal has been a Toddler Co-Teacher for 6 years.  Crystal enjoys story time and learning games with the younger children.  She uses the backyard playground as a learning opportunity with bubbles, balls, parachutes, sand, and water play.
                                                p.
                                                    Crystal is certified in First Aid/CPR, Food Manager and Sanitation and Children and Disabilities.  She has also earned the Early Childhood Certification Level 1.  Crystal completes at least 20 hours of Early Childhood training hours each year.
                            li.collection-item
                                h3 Shantalla Arroyo
                                div#shantalla.section.scroll-spy
                                    div.card.horizontal.valign-wrapper
                                        div.card-image
                                            img(src="images/teachers/central/shantalla.jpg")
                                        div.card-stacked
                                            div.card-content
                                                p.
                                                    Shanti has been the Preschool Teacher at Care-A-Lot for 4 wonderful years.  Shanti strives to offer planned activities that will excite the children as they discover new concepts and ideas.  Her favorite aspect of teaching is making a difference in the children’s lives and watching them grow into curious little human beings.
                                                p.
                                                    At college Shanti studied the Arts and Early Childhood Education.  She also completed several Teaching English as a Second Language (TESL) classes.
                                                p.
                                                    Shanti is certified in First Aid/CPR, Food Management and Sanitation, Caring for Children with Special Needs and Illinois Poison Prevention.  Shanti has also earned Early Childhood Certification Level 1.  Shanti completes at least 20 hours of Early Childhood training hours each year.
                                li.collection-item
                                    h3 Cynthia Hlavic
                                    div#cynthia.section.scroll-spy
                                        div.card.horizontal.valign-wrapper
                                            div.card-image
                                                img(src="images/teachers/central/cynthia.jpg")
                                            div.card-stacked
                                                div.card-content
                                                    p.
                                                        Cindy has been at Care-A-Lot for 20 years and has taught in all the classrooms.  She is currently a Co-Teacher in the Toddler room.  Cindy enjoys circle times with stories, music, puppets and felt boards.
                                                    p.
                                                        Cindy is certified in First Aid/CPR, Poison Prevention and Food Management and Sanitation.  She is working toward her Early Childhood Credential and has a myriad background of Early Childhood classes as well as Medical Assistant training.  Cindy completes at least 20 hours of Early Childhood training hours each year.
                                li.collection-item
                                    h3 Anna Kozikowski
                                    div#anna.section.scroll-spy
                                        div.card.horizontal.valign-wrapper
                                            div.card-image
                                                img(src="images/teachers/central/anna.jpg")
                                            div.card-stacked
                                                div.card-content
                                                    p.
                                                        Anna has been at Care-A-Lot for 2 years now and is a Teacher Aide in the Toddler room.  She is currently finishing college classes to earn her Early Childhood Degree and become a Teacher.  Anna believes that children flourish when they are engaged and enjoying the learning process.   She strives to keep the Toddler room a fun place where the children feel safe and accepted.
                                                    p.
                                                        Anna is certified in First Aid/CPR, Poison Control, Food Manager and Sanitation and completes at least 20 hours of Early Childhood training hours each year.

                            //li.collection-item
                            //    h3 Brande Donovan
                            //    div.card.horizontal.valign-wrapper
                            //        div.card-image
                            //            img(src="images/teachers/central/brande.jpg")
                            //        div.card-stacked
                            //            div.card-content
                            //                p.
                            //                    Brande has been at Care-A-Lot since 2015. She began as a cleaner in the afternoons and is currently a Teacher Assistant in the Toddler Room.
                            //                p.
                            //                    Brande is certified in CPR/First Aid, Food handler and Sanitation, Bloodborne Pathogens and Safety and Health of Young Children.  Brande completes at least 20 training hours in Early Childhood each year.
                            //                p.
                            //                    Brande’s favorite activities with the children are ‘Disney Dance Parties’.  The magic of childhood is never more pronounced than when the children are dancing and dressing as their favorite Disney character.

        div.col.m2.right-nav
            div.right-nav-wrapper
                ul.section.table-of-contents
                    li
                        a(href="#sheri") Sheri Plotke
                    li
                        a(href="#cheryl") Cheryl Pullia
                    li
                        a(href="#sara") Sara Peterson
                    li
                        a(href="#crystal") Crystal Harvey
                    li
                        a(href="#shantalla") Shantalla Arroyo
                    li
                        a(href="#cynthia") Cynthia Hlavic
                    li
                        a(href="#anna") Anna Kozikowski
