extends layout

block content
    div.row
        div.parallax-container
            div.parallax
                img(src="images/testimonials/testimonials_header.jpg", style="display: block")
    div.container.testimonials
        div.row
            h1 Care A Lot in the Press!
            div.col.l12
                p
                    span.
                        We've recently been interviewed by voyage chicago! Check out the article they wrote about us here: &nbsp
                    span
                        a(href="http://voyagechicago.com/interview/meet-margaret-scatchell-care-lot-early-learning-centers-edgebrook/") http://voyagechicago.com/interview/meet-margaret-scatchell-care-lot-early-learning-centers-edgebrook/
        div.row
            h1 Parent Testimonials
            div.col.l12
                ul.collection.list
                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "This is an amazing school. My children have been a part of it for seven years and I
                                    could not imagine them having any other early education experience. The teachers go
                                    above and beyond to make sure the kids love school, feel safe, and are engaged. Excellent school."
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)
                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "I would definitely recommend Care A Lot to anyone that is looking for a safe,
                                    nurturing, and educational environment! Since my son started at Care A Lot a couple
                                    of months ago, I have seen a huge difference in his vocabulary. Prior to coming to
                                    Care A Lot my son only had a limited vocabulary and had a difficult time expressing
                                    what he wanted. Every time I walk into Care A Lot, I see my son being read to,
                                    looking at books on his own or with a friend, or singing songs. I could not be any
                                    happier. Care A Lot is truly a home away from home! Thank you to all the staff!!"
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)
                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "I would recommend Care-A-Lot to anyone considering. Our son attended for only 3
                                    months but only left because we relocated. He quickly made an impact with all the
                                    teachers. And we saw great improvement to his playing and learning at home. We have
                                    now set Care-A-Lot as our comparison to find a new daycare out of state, and have
                                    not been fully satisfied. The daily feedback sheets, art projects, and outdoor time
                                    were very appreciated and have yet to be found again. Your child will be in great
                                    hands at Care-A-Lot."
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)

                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "I love Care-A-Lot!! My 2 year son has been attending since August and he has
                                    learned so much!! I love all his teachers. They do so many wonderful activities
                                    with them and help them use their imagination. I also plan on enrolling my 7 year
                                    old in their summer program. Thank you Care-A-Lot for giving my son a loving second
                                    home."
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)
                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "My daughter has been attending Care A Lot on Milwaukee since she was 16 months old.
                                     When I went to check out the school I saw a mom outside about to drop off their
                                     child and I asked her what she thought of the school and she raved about how great
                                     it was and how much their child has learned. Instantly, my daughter was drawn to
                                     the friendly environment and did not want to leave when we were done with our
                                     tour. My daughter is now turning 4 and I could not be happier with her teachers
                                     and the genuine care she has had for the past 2.5 years. She is excited about
                                     going to school and has learned so much more then I ever could have expected.
                                     It is a huge comfort to know that she is in such good hands while I am at work.
                                     I highly recommend this preschool."
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)
                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "My son has been attending for 2 years now and all I can say is that I feel that I
                                    have found a place for my son to feel welcome and loved by both his friends and
                                    teachers. They provide an excellent amount of challenging work for them but most
                                    importantly they have reemphasized what we teach my son at home which is to be nice
                                    to others and be a good person. I couldn't ask for anything more. Thank You Care A Lot!!"
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)
                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "I have one child going into Pre-K and another starting the toddler room soon. I
                                    was so worried making this decision and all I can say is I couldn't be happier with
                                    my decision. The teachers are fantastic! They really care for your kids and make
                                    the children so comfortable. The artwork and crafts are adorable and all the kids
                                    play well together. I think we were blessed to find this place for our kids. It is
                                    so hard to leave your kids at a school for the first time, but when they are so
                                    excited to go and when they don't want to come home, you know you 've made a good
                                    decision. :)"
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)
                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "I have a child enrolled in the toddler room whom is moving to the preschool room
                                    this fall. We are very happy with the level of care and education that Care A Lot
                                    provides. The staff is great, and our son loves it there. He is really learning a
                                    lot and looks forward to spending time with his friends at school. Great place!"
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)
                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "Care-a-Lot has been a good experience for our pre-K son. He enjoyed his daily
                                    "jobs" and made several new friends. His teacher and others on staff were always
                                    friendly and supportive. Our only reasons for knocking off a star in the rating are
                                    because the environment could sometimes feel a bit disorganized, and we weren't
                                    always sure our son was being adequately challenged by his lessons. But this school
                                    is an excellent value relative to others with comparable structure and curriculum."
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)
                    li.collection-item
                        div.card
                            div.card-content
                                p.
                                    "I am a parent of a child that used to attend Care-A-Lot, but now will be going
                                    back. We love the school! And cannot say enough good things about it! My daughter
                                    loves waking up and attending school knowing that she will see her friends and
                                    learning! I recommend this school to anyone!"
                            div.card-action.valign-wrapper
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                i.material-icons.yellow-text star
                                a(href="http://www.greatschools.org/illinois/chicago/5577-Care-A-Lot/reviews/") (View)







