link(rel="stylesheet", href="/stylesheets/revealjs/reveal.css")
link(rel="stylesheet", href="/stylesheets/revealjs/custom-reveal-additions.css")
link#theme(rel="stylesheet", href="/stylesheets/revealjs/theme/black.css")


.reveal
    a.exit-link(href='/') Exit Virtual Tour
    .slides
        section
            h3 Welcome to Care-A-Lot's...
            h2 virtual tour!
            p Just press the space-bar on your keyboard to go to the next slide!
            p You can also use the arrows on your keyboard, or on the bottom right of the screen to navigate through the slides.
            p Hit escape at any time to see an overview of the tour!
        section
            section(data-transition='convex')
                img(width='300' data-src='images/virtual-tour/tour-1.jpg')
                p
                    | Everyday is a new and different learning experience!
                a.navigate-down(href='#')
                    img(width='100', data-src='images/arrow.png', alt='Down arrow')
            section
                img(width='400' data-src='images/virtual-tour/tour-2.jpg')
                p
                    | Not just green paint. The children created this color by mixing paints together. Art, as a learning process, allows the children to experiment with colors by mixing their own colors and painting with them.
        section
            img(width='500' data-src='images/virtual-tour/tour-3.jpg')
            p
                | Parallel play! Children explore and discover on their own. This type of play serves as a bridge to more complex cooperative activities as the children grow.
        section
            img(width='600' data-src='images/virtual-tour/tour-4.jpg')
            p
                | The center had a huge party to celebrate Mickey Mouse’s Birthday. The children enjoyed the festivities.
        section
            section
                p Who says cold weather can't be fun?
                a.navigate-down(href='#')
                    img(width='100', data-src='images/arrow.png', alt='Down arrow')
            section(data-background-video='videos/fun-with-slide.mp4', data-background-color='#000000')
        section
            section
                p Some of us *really* enjoy the turkey hop!
                a.navigate-down(href='#')
                    img(width='100', data-src='images/arrow.png', alt='Down arrow')
            section(data-background-video='videos/turkey-dance.mp4', data-background-color='#000000')
        section
            img(width='600' data-src='images/virtual-tour/stop-drop-and-roll.jpg')
            p
                | Learning about fire safety rules during fire safety week!
        section
            img(width='400' data-src='images/virtual-tour/snow-angels.jpg')
            p
                | Making snow angels!
        section
            img(width='400' data-src='images/virtual-tour/team-spirit.jpg')
            p
                | Chicago team spirit
        section
            img(width='500' data-src='images/virtual-tour/pumpkin-field-trip.jpg')
            p
                | Our annual pumpkin farm field trip
        section
            img(width='600' data-src='images/virtual-tour/halloween.jpg')
            p
                | Even the smallest ghosts and goblins enjoy Halloween festivities.
        section
            img(width='600' data-src='images/virtual-tour/pumpkin-patch.jpg')
            p
                | Showing off our pumpkins at the annual Care-A-Lot pumpkin patch.
        section
            img(width='600' data-src='images/virtual-tour/creative-pretend-play.jpg')
            p
                | Creative pretend play. Children enjoy exploring and learning about our extinct friends. Be it dinosaurs or farm animals, the open-ended use of this activity leads imaginations to soar.
        section
            img(width='600' data-src='images/virtual-tour/soles-4-souls.jpg')
            p
                | Soles 4 Souls: The children collected their old shoes to donate to the less fortunate.
        section
            img(width='600' data-src='images/virtual-tour/creative-expression.jpg')
            p
                | Creative expression at its best! An, ‘I am happy and I want everyone to know it’ moment. We live for these happy moments at our center.
        section
            img(width='600' data-src='images/virtual-tour/parents-day.jpg')
            p.small-text
                | Our famous Parent and Kid Day. Parents come in on a Saturday morning and spend the morning in their child’s classroom with the children and their teacher. Parents fully enjoy this day because it allows them to view their child in the classroom setting and they get to take home some fabulous art projects!
        section
            img(width='600' data-src='images/virtual-tour/cat-in-hat.jpg')
            p
                | We celebrate the famous, well-loved and timeless Dr. Seuss's Birthday each year with reading and rhymes and one big party day!
        section
            img(width='600' data-src='images/virtual-tour/graduation-pic.jpg')
            p.small-text
                | Each year the Preschool and Pre-Kindergarten Classrooms celebrate graduation day.  Parents and other family members are invited to our ceremony.  The performance and songs are heartwarming and the graduation walk to receive diplomas a touching completion to a full and educational school year.
        section
            img(width='370' data-src='images/virtual-tour/plants.jpg')
            p.small-text
                | Each spring the Pre-Kindergarten classroom plants and tends to their vegetable garden.  The cherry tomatoes, whole tomatoes and green peppers culminate into a salad that the children prepare and enjoy.
        section
            img(width='600' data-src='images/virtual-tour/quesadillas.jpg')
            p
                | The toddler classroom enjoys preparing and eating quesadillas to celebrate Cinco de Mayo!
        section
            img(width='400' data-src='images/virtual-tour/circus-week.jpg')
            p
                | We love circus week at Care-A-Lot!
        section
            img(width='600' data-src='images/virtual-tour/st-patricks-day.jpg')
            p
                | We celebrate 'the wearing of the green' on St. Patrick's day!
        section
            div Thanks!
            img(width='600' data-src='images/virtual-tour/thanks.jpg')
            p.small-text
                span.red Thanks&nbsp;
                span
                    | so much for watching our tour! We hope you will visit our day care center so you can see our facilities for yourself!

script(src="/javascripts/lib/revealjs/head.min.js")
script(src="/javascripts/lib/revealjs/reveal.js")
script(src="/javascripts/virtual-tour.js")
